{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.conf.dev.js"
            }
        }
    },
    "plugins": [
        "import"
    ]
}
