{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.conf.dev.js"
            }
        }
    },
    "rules": {
        "indent": ["error", 4],
        "max-len": [2, 120],
        "react/prefer-stateless-function": 0,
        "react/wrap-multilines": 0,
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-closing-bracket-location": 0,
        "new-cap": 0
    }
}
